<img
class="header"
src="./images/Header1.png"/>
<div class="container">
    <div class="container">
        <div class="left-column">
          <h1 class="title">“Kennedy family members' embrace carries deeper meaning for Biden”</h1>
          <h2>April 21, 2024 at 6:00 a.m. EDT</h2>
          <div class="bar"></div>
          <ul>
            <li>Factuality 0.5/1 50% Moderate</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
            <!-- Add more list items as needed -->
          </ul>
        </div>
        <div class="right-column">
          <!-- Content for the right column box -->
        </div>
      </div>
</div>