.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
    width: 100%;
}

.input-container {
  position: relative;
  width: 35%;
  display: flex;
  align-items: center;
  margin-block-start: -90px;
  
  .material-icons {
      position: absolute;
      top: 50%;
      right: 10px; /* Adjust as needed */
      transform: translateY(-50%);
      // color: #001AFF; /* Icon color */
  }

  .form-control {
      padding: 10px;
      border: 1px solid #001AFF; /* Colored border */
      // background: linear-gradient(90.4deg, #001AFF 0.82%, #FF00D6 99.98%);
      border-radius: 20px; /* Rounded corners */
      outline: none;
      width: 100%;
  }
    
  // .form-control:focus {
  //   border-color: #FF00D6; /* Darker border color on focus */
  // }   
}

.container {
    display: flex;
    padding-inline-start: 90px;
    padding-block-start: 90px;
  }
  .left-column {
    flex: 1;
    margin-right: 20px;

    .title {
      font-weight: bolder;
    }
  }
  .right-column {
    width: 60vw; /* Adjust as needed */
    padding: 10px;
    // box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Simple box shadow */
  }

  .rating-container {
    display: flex;
    flex-direction: column;
  }

  .column {
    flex: 1;
  }
  
  .rating-category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
    border: 1px solid #D4D4D4;
    border-radius: 4px; /* Rounded corners */
    outline: none;
    margin-block-end: 7px;
  }
  
  // .score {
  //   align-self: flex-end;
  // }

  .name {
    font-weight: bold;
  }
  
  .low {
    color: #FF00D6;
  }
  
  .moderate {
    color: #7E8BFF;
  }
  
  .high {
    color: #001AFF;
  }
  
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader::before {
    content: '';
    border: 5px solid #f3f3f3;
    border-top: 5px solid #001AFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }