.header {
    width: 100%;
  }
.container {
    display: flex;
    padding: 20px;
  }
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  .right-column {
    width: 60vw; /* Adjust as needed */
    background-color: #f0f0f0; /* Light grey background */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Simple box shadow */
  }

  .rating-container {
    display: flex;
    flex-direction: column;
  }
  
  .rating-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #D4D4D4;
    border-radius: 1px; /* Rounded corners */
    outline: none;
    margin-block-end: 2px;
  }
  
  .category-level {
    padding: 3px;
    border-radius: 5px;
  }
  
  .low {
    color: #FF00D6;
  }
  
  .moderate {
    color: #001AFF;
  }
  
  .high {
    color: #001AFF;
  }