<img
class="header"
src="./images/Header1.png"/>
<div class="container">
    <div class="container" >
        <div class="left-column" *ngIf="indexDetails$ | async as aaa" >
          <a class="header-link" href="https://www.washingtonpost.com/..."> </a>
          <h1 class="title">{{ aaa?.title }}</h1>
          <h2>April 21, 2024 at 6:00 a.m. EDT</h2>
          <app-percentage-bar
  [leftPercentage]="53"
  [rightPercentage]="47"
  [leftLabel]="'Clear delivery'"
  [rightLabel]="'Misleading delivery'">
</app-percentage-bar>
          <div class="rating-container">
            <div *ngFor="let category of categories$ | async" class="rating-category">
              <span class="category-name">{{ category.name }}</span>
              <span class="category-score">{{ category.score }}/1</span>
              <span class="category-percentage">{{ category.percentage }}%</span>
              <span class="category-level" [ngClass]="category.level.toLowerCase()">{{ category.level }}</span>
            </div>
          </div>
        </div>
        <div class="right-column">
          <!-- Content for the right column box -->
        </div>
      </div>
</div>