<div class="bar-container">
    <div class="bar"
         [style.width.%]="leftPercentage"
         [style.background-color]="leftColor">
    </div>
    <div class="bar"
         [style.width.%]="rightPercentage"
         [style.background-color]="rightColor">
    </div>
  </div>
  <div class="labels">
    <span [style.color]="leftColor" class="percentage">{{ leftPercentage }}% 
          <span class="label">
               <br> {{ leftLabel }}
          </span> 
     </span>
    <span [style.color]="rightColor" class="percentage">{{ rightPercentage }}% 
          <span class="label">
               <br> {{ rightLabel }}
          </span>
     </span> 
  </div>