<div class="container">
    <img
    class="header"
    src="./images/Header1.png"/>
    <img
    class="banner"
    src="./images/Banner.png"
    />
    <form class="input-container">
        <input type="text"  class="form-control" matInput placeholder="Paste a link of an article you want to assess" (keyup.enter)="navigateToDetails()" (input)='onInputChange($event)'>
        <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
    </form>
    <img
    class="table"
    src="./images/Table.png"
    />
</div>